{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Home Page</h3>
            </div>
        </div>
    </div>
{% endblock %}
