{% extends 'main/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6">

            <h1 class="h3 mb-3 text-right text-secondary pt-5">login</h1>
            <hr>
            <form method="post">
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="email" autocomplete="email" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="password" autocomplete="current-password" required>
                </div>
               
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
              

                <div class="d-flex justify-content-between align-items-center">
                    <div class="custom-control">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-outline-primary" type="submit">Sign in</button>

                    <a href="{{ path('app_register') }}" class="btn btn-outline-danger">Registration</a>

                </div>

            </form>
            <hr>
        </div>
    </div>
</div>

{% endblock %}