{% extends 'admin/layouts/admin_page.html.twig' %}

{% block body %}

<div class="container">
    <div class="row d-flex justify-content-center pt-3">
        <div class="coll">
            <h2>Dashboard</h2>
        </div>
    </div>
</div>

{% endblock %}

